@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  resize: both;
}

body {
  font-size: 24px;
  color: #979797;
  overflow-x: hidden;
  font-family: Poppins;
  background-color: white;
  background: url(images/background.png), url(images/back-small.png);
  background-repeat: no-repeat;
  background-size: 130vh, 20vw;
  background-position: 55vw -20vh, -5vw 140vh;
  /*Navigation menu*/
  /*main container wrapper*/
}

body .navbar {
  margin-top: 20px;
  padding: 0 5%;
  /*Company's name*/
  /*Sub menu when on mobile devices*/
}

body .navbar .navbar-brand {
  font-size: 35px;
  font-weight: 600;
  color: #2E0838;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

body .navbar .navbar-brand:hover, body .navbar .navbar-brand:focus {
  filter: opacity(0.7);
  transform: scale(1.5);
}

body .navbar .collapse {
  justify-content: flex-end;
}

body .navbar .collapse ul li .nav-link {
  padding: 10px 5vw;
  border-radius: 10px;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  color: #2E0838;
}

body .navbar .collapse ul li .nav-link:hover, body .navbar .collapse ul li .nav-link:focus, body .navbar .collapse ul li .nav-link:active {
  background-color: #F7693E;
  color: white;
}

body .main-wrapper {
  /*Legend section*/
}

body .main-wrapper .legend {
  height: 80vh;
  margin: 5%;
  /*Introductory message*/
  /*Introductory Image*/
}

body .main-wrapper .legend .left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body .main-wrapper .legend .left-section h1 {
  color: #2E0838;
  width: 86%;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 30px;
  line-height: 1.5;
}

body .main-wrapper .legend .left-section h1 span {
  color: #F7693E;
}

body .main-wrapper .legend .left-section .description {
  width: 70%;
  margin-bottom: 30px;
}

body .main-wrapper .legend .left-section .link {
  height: max-content;
  margin-top: 30px;
}

body .main-wrapper .legend .left-section .link a {
  padding: 20px 7%;
  background-color: #F7693E;
  border-radius: 10px;
  color: white;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

body .main-wrapper .legend .left-section .link a:hover, body .main-wrapper .legend .left-section .link a:focus {
  text-decoration: none;
  bottom: 5px;
  color: #2E0838;
}

body .main-wrapper .legend .right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body .main-wrapper .legend .right-section .image-wrapper {
  width: 70%;
  height: 60%;
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding-top: 56.25%;
  transition-property: all;
  transition-duration: 1s;
  animation-name: slide-in;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

body .main-wrapper .legend .right-section .image-wrapper:focus, body .main-wrapper .legend .right-section .image-wrapper:hover {
  transform: scale(1.1);
}

body .main-wrapper .legend .right-section .image-wrapper img {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: auto;
  image-rendering: optimizeSpeed;
}

@keyframes slide-in {
  0% {
    right: -50%;
  }
  100% {
    right: 0;
  }
}

body .main-wrapper .partners {
  padding: 5%;
  background: linear-gradient(#FBFBFB, #FBFBFB);
  background-blend-mode: lighten;
  text-align: center;
}

body .main-wrapper .partners .content {
  /*Partners images*/
}

body .main-wrapper .partners .content p {
  color: #F7693E;
  font-size: 24px;
  font-weight: bold;
}

body .main-wrapper .partners .content h2 {
  color: #2E0838;
  font-weight: 600;
  margin-bottom: 100px;
  padding-bottom: 50px;
  background: url(images/Path1.png);
  background-repeat: no-repeat;
  background-position: 49% 25px;
  background-size: 80px;
}

body .main-wrapper .partners .content .sponsors-images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
}

body .main-wrapper .partners .content .sponsors-images img {
  image-rendering: optimizeSpeed;
  margin-top: 20px;
  transition-property: all;
  transition-duration: 1s;
}

body .main-wrapper .partners .content .sponsors-images img:focus, body .main-wrapper .partners .content .sponsors-images img:hover {
  transform: scale(1.1);
}

body .main-wrapper .services {
  padding: 5%;
  /*service image */
  /*Service message*/
}

body .main-wrapper .services .left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body .main-wrapper .services .left-section img {
  max-width: 100%;
  width: 80%;
  height: auto;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  animation-name: slide-right;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

body .main-wrapper .services .left-section img:focus, body .main-wrapper .services .left-section img:hover {
  transform: scale(1.1);
}

@keyframes slide-right {
  0% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

body .main-wrapper .services .right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body .main-wrapper .services .right-section .link-text {
  margin-top: 30px;
}

body .main-wrapper .services .right-section .link-text a {
  padding: 20px 10%;
  color: white;
  background-color: #F7693E;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

body .main-wrapper .services .right-section .link-text a:hover, body .main-wrapper .services .right-section .link-text a:focus {
  filter: opacity(0.7);
  text-decoration: none;
  bottom: 5px;
  color: #2E0838;
}

body .main-wrapper .services .right-section h2 {
  font-weight: 600;
  font-size: 35px;
  color: #2E0838;
  width: 70%;
  line-height: 1.5;
  margin-bottom: 20px;
}

body .main-wrapper .services .right-section .intro {
  font-weight: 600;
  color: #F7693E;
  margin-bottom: 30px;
}

body .main-wrapper .services .right-section .service-description {
  margin: 30px 0;
}

body .main-wrapper .workings {
  padding: 5%;
}

body .main-wrapper .workings header {
  text-align: center;
  margin-bottom: 100px;
}

body .main-wrapper .workings header .heading {
  margin-top: 20px;
  font-size: 35px;
  color: #2E0838;
  font-weight: 600;
}

body .main-wrapper .workings .works-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body .main-wrapper .workings .works-wrapper .middle {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

body .main-wrapper .workings .works-wrapper div {
  width: 30%;
  border-radius: 20px;
  padding: 40px 20px 150px 20px;
  transition-property: all;
  transition-duration: 1s;
}

body .main-wrapper .workings .works-wrapper div:focus, body .main-wrapper .workings .works-wrapper div:hover {
  transform: scale(1.1);
}

body .main-wrapper .workings .works-wrapper div p svg {
  width: 35px;
  margin-bottom: 20px;
}

body .main-wrapper .workings .works-wrapper div p .first {
  fill: #F7693E;
}

body .main-wrapper .workings .works-wrapper div p .second {
  fill: #45B385;
}

body .main-wrapper .workings .works-wrapper div p .third {
  color: #FFD898;
}

body .main-wrapper .workings .works-wrapper div h2 {
  color: #2E0838;
  font-weight: 600;
  margin-bottom: 20px;
}

body .main-wrapper .tools {
  padding: 5%;
  text-align: center;
}

body .main-wrapper .tools header {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

body .main-wrapper .tools header .heading {
  color: #2E0838;
  font-weight: 600;
  width: 30%;
}

body .main-wrapper .tools .tools-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body .main-wrapper .tools .tools-wrapper div {
  width: 15%;
  transition-property: all;
  transition-duration: 1s;
}

body .main-wrapper .tools .tools-wrapper div:focus, body .main-wrapper .tools .tools-wrapper div:hover {
  transform: scale(1.1);
}

body .main-wrapper .tools .tools-wrapper div img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

body .main-wrapper .tools p {
  margin-top: 30px;
  font-weight: 600;
}

body .main-wrapper .tools p a {
  text-decoration: underline;
  color: #0062FF;
}

body .main-wrapper .tools p a:hover, body .main-wrapper .tools p a:focus {
  filter: opacity(0.7);
}

body .main-wrapper .special {
  padding: 5%;
  /*Special services image*/
  /*special services message*/
}

body .main-wrapper .special .left-section {
  display: flex;
  align-content: center;
}

body .main-wrapper .special .left-section img {
  width: 90%;
  height: auto;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  animation-name: slide-right;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

body .main-wrapper .special .left-section img:focus, body .main-wrapper .special .left-section img:hover {
  transform: scale(1.1);
}

body .main-wrapper .special .right-section {
  display: flex;
  flex-direction: column;
}

body .main-wrapper .special .right-section h2 {
  font-weight: 600;
  color: #2E0838;
  font-size: 35px;
  line-height: 1.5;
  width: 70%;
  margin: 100px 0 70px 0;
}

body .main-wrapper .special .right-section p {
  width: 80%;
  line-height: 2;
}

body .main-wrapper .footer {
  padding: 5% 0 0 0;
  background-color: #F7693E;
  color: white;
}

body .main-wrapper .footer h2 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 30px;
}

body .main-wrapper .footer .endnote {
  margin-bottom: 30px;
}

body .main-wrapper .footer .link {
  margin-top: 50px;
}

body .main-wrapper .footer .link a {
  padding: 20px 5%;
  background-color: white;
  color: #F7693E;
  border-radius: 10px;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

body .main-wrapper .footer .link a:hover, body .main-wrapper .footer .link a:focus {
  filter: opacity(0.7);
  text-decoration: none;
  bottom: 5px;
  color: #2E0838;
}

body .main-wrapper .footer .attribution {
  margin-top: 100px;
}

/*Responsiveness*/
@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
    background-size: 70vw, 25vw;
    background-position: 55vw -20vh, -5vw 250vh;
  }
  body .navbar .collapse {
    background-color: #F7693E;
  }
  body .navbar .collapse ul li .nav-link {
    color: #2E0838;
    border-radius: 0px;
  }
  body .main-wrapper {
    height: 100%;
  }
  body .main-wrapper .legend {
    height: 180vh;
    padding: 0 !important;
  }
  body .main-wrapper .legend .left-section {
    text-align: center;
    height: 30%;
  }
  body .main-wrapper .legend .left-section h1 {
    font-size: 32px;
    width: 100%;
  }
  body .main-wrapper .legend .left-section .description {
    width: 100%;
  }
  body .main-wrapper .legend .left-section .link a {
    padding: 10px 10%;
  }
  body .main-wrapper .legend .right-section {
    height: 70%;
    justify-content: center;
  }
  body .main-wrapper .legend .right-section .image-wrapper {
    width: 100%;
  }
  body .main-wrapper .services {
    text-align: center;
    height: 150vh;
    padding: 5% 0;
  }
  body .main-wrapper .services .left-section {
    height: 60%;
    align-items: center;
  }
  body .main-wrapper .services .left-section img {
    width: 100%;
  }
  body .main-wrapper .services .right-section {
    height: 40%;
  }
  body .main-wrapper .services .right-section .intro {
    margin: 20px 0;
  }
  body .main-wrapper .services .right-section h2 {
    width: 100%;
    font-size: 24px;
    margin-bottom: 0;
  }
  body .main-wrapper .services .right-section .service-description {
    margin: 20px 0;
  }
  body .main-wrapper .services .right-section .link-text {
    margin-top: 0;
  }
  body .main-wrapper .services .right-section .link-text a {
    padding: 10px 10%;
  }
  body .main-wrapper .workings {
    padding: 5% 0;
  }
  body .main-wrapper .workings header {
    margin-bottom: 50px;
  }
  body .main-wrapper .workings header h2 {
    font-size: 24px;
  }
  body .main-wrapper .workings .works-wrapper div {
    text-align: center;
    width: 100%;
    padding: 30px 20px 50px 20px;
  }
  body .main-wrapper .tools {
    padding: 5% 0;
  }
  body .main-wrapper .tools header .heading {
    font-size: 24px;
    width: 100%;
  }
  body .main-wrapper .tools .tools-wrapper {
    justify-content: space-evenly;
  }
  body .main-wrapper .tools .tools-wrapper div {
    margin-bottom: 20px;
    width: 35%;
  }
  body .main-wrapper .tools .tools-wrapper div img {
    margin-bottom: 0;
  }
  body .main-wrapper .special {
    padding: 5% 0;
  }
  body .main-wrapper .special .left-section img {
    width: 100%;
  }
  body .main-wrapper .special .right-section {
    text-align: center;
  }
  body .main-wrapper .special .right-section h2 {
    margin: 30px 0 20px 0;
    width: 100%;
    font-size: 24px;
  }
  body .main-wrapper .special .right-section p {
    width: 100%;
  }
  body .main-wrapper .footer {
    padding: 5% 0 0 0;
  }
  body .main-wrapper .footer h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  body .main-wrapper .footer .endnote {
    margin-bottom: 20px;
  }
  body .main-wrapper .footer .link {
    margin-top: 30px;
    bottom: 0;
  }
  body .main-wrapper .footer .link a {
    padding: 10px 10%;
  }
}
/*# sourceMappingURL=style.css.map */