@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  resize: both;
}

body {
  font-size: 24px;
  color: #979797;
  overflow-x: hidden;
  font-family: Poppins;
  background-color: white;
  background: url(images/background.png);
  background-repeat: no-repeat;
  background-size: 130vh;
  background-position: 55vw -20vh;
}

body .main-wrapper .navbar {
  height: 70px;
  padding: 0 5%;
}

body .main-wrapper .navbar button {
  color: #2E0838 !important;
}

body .main-wrapper .navbar a {
  color: #2E0838;
  font-weight: 600;
}

body .main-wrapper .navbar .navbar-brand {
  font-size: 35px;
  font-weight: 600;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

body .main-wrapper .navbar .navbar-brand:hover, body .main-wrapper .navbar .navbar-brand:focus {
  filter: opacity(0.7);
  transform: scale(1.5);
}

body .main-wrapper .navbar .collapse {
  justify-content: flex-end;
}

body .main-wrapper .navbar .collapse ul li .nav-link {
  padding: 10px 5vw;
  border-radius: 10px;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

body .main-wrapper .navbar .collapse ul li .nav-link:hover, body .main-wrapper .navbar .collapse ul li .nav-link:focus, body .main-wrapper .navbar .collapse ul li .nav-link:active {
  background-color: #F7693E;
  color: white;
  bottom: 5px;
}

body .main-wrapper .legend {
  height: 80vh;
  margin: 5%;
}

body .main-wrapper .legend .left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body .main-wrapper .legend .left-section h1 {
  color: #2E0838;
  width: 86%;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 30px;
  line-height: 1.5;
}

body .main-wrapper .legend .left-section h1 span {
  color: #F7693E;
}

body .main-wrapper .legend .left-section .description {
  width: 70%;
  margin-bottom: 30px;
}

body .main-wrapper .legend .left-section .link {
  height: max-content;
}

body .main-wrapper .legend .left-section .link a {
  padding: 20px 8%;
  background-color: #F7693E;
  border-radius: 10px;
  color: white;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

body .main-wrapper .legend .left-section .link a:hover, body .main-wrapper .legend .left-section .link a:focus {
  text-decoration: none;
  filter: opacity(0.7);
  bottom: 5px;
  color: #2E0838;
}

body .main-wrapper .legend .right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body .main-wrapper .legend .right-section .image-wrapper {
  width: 70%;
  height: 60%;
  background-color: white;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding-top: 56.25%;
}

body .main-wrapper .legend .right-section .image-wrapper img {
  position: absolute;
  width: 100%;
  height: auto;
  image-rendering: optimizeSpeed;
}

body .main-wrapper .partners {
  padding: 5%;
  background-color: #FBFBFB;
  text-align: center;
}

body .main-wrapper .partners .content p {
  color: #F7693E;
  font-size: 24px;
  font-weight: bold;
}

body .main-wrapper .partners .content h2 {
  color: #2E0838;
  font-weight: 600;
}

body .main-wrapper .partners .content .sponsors-images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
}

body .main-wrapper .partners .content .sponsors-images img {
  image-rendering: optimizeSpeed;
  margin-top: 20px;
}

body .main-wrapper .services {
  padding: 5%;
}

body .main-wrapper .services .left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body .main-wrapper .services .left-section img {
  max-width: 100%;
  width: 80%;
  height: auto;
}

body .main-wrapper .services .right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body .main-wrapper .services .right-section .link-text {
  margin-top: 30px;
}

body .main-wrapper .services .right-section .link-text a {
  padding: 20px 10%;
  color: white;
  background-color: #F7693E;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

body .main-wrapper .services .right-section .link-text a:hover, body .main-wrapper .services .right-section .link-text a:focus {
  filter: opacity(0.7);
  text-decoration: none;
  bottom: 5px;
  color: #2E0838;
}

body .main-wrapper .services .right-section h2 {
  font-weight: 600;
  font-size: 35px;
  color: #2E0838;
  width: 70%;
  line-height: 1.5;
  margin-bottom: 20px;
}

body .main-wrapper .services .right-section .intro {
  font-weight: 600;
  color: #F7693E;
  margin-bottom: 30px;
}

body .main-wrapper .services .right-section .service-description {
  margin: 30px 0;
}

body .main-wrapper .workings {
  padding: 5%;
}

body .main-wrapper .workings header {
  text-align: center;
  margin-bottom: 100px;
}

body .main-wrapper .workings header .heading {
  margin-top: 20px;
  font-size: 35px;
  color: #2E0838;
  font-weight: 600;
}

body .main-wrapper .workings .works-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body .main-wrapper .workings .works-wrapper .middle {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

body .main-wrapper .workings .works-wrapper div {
  width: 30%;
  border-radius: 20px;
  padding: 40px 20px 100px 20px;
}

body .main-wrapper .workings .works-wrapper div p svg {
  width: 35px;
  margin-bottom: 20px;
}

body .main-wrapper .workings .works-wrapper div p .first {
  fill: #F7693E;
}

body .main-wrapper .workings .works-wrapper div p .second {
  fill: #45B385;
}

body .main-wrapper .workings .works-wrapper div p .third {
  color: #FFD898;
}

body .main-wrapper .workings .works-wrapper div h2 {
  color: #2E0838;
  font-weight: 600;
  margin-bottom: 20px;
}

body .main-wrapper .tools {
  padding: 5%;
  text-align: center;
}

body .main-wrapper .tools header {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

body .main-wrapper .tools header .heading {
  color: #2E0838;
  font-weight: 600;
  width: 30%;
}

body .main-wrapper .tools .tools-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body .main-wrapper .tools .tools-wrapper div {
  width: 20%;
}

body .main-wrapper .tools .tools-wrapper div img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

body .main-wrapper .tools p {
  margin-top: 30px;
  font-weight: 600;
}

body .main-wrapper .tools p a {
  text-decoration: underline;
  color: #0062FF;
}

body .main-wrapper .tools p a:hover, body .main-wrapper .tools p a:focus {
  filter: opacity(0.7);
}

body .main-wrapper .special {
  padding: 5%;
}

body .main-wrapper .special .left-section {
  display: flex;
  align-content: center;
}

body .main-wrapper .special .left-section img {
  width: 90%;
  height: auto;
}

body .main-wrapper .special .right-section {
  display: flex;
  flex-direction: column;
}

body .main-wrapper .special .right-section h2 {
  font-weight: 600;
  color: #2E0838;
  font-size: 35px;
  line-height: 1.5;
  width: 70%;
  margin: 100px 0 70px 0;
}

body .main-wrapper .special .right-section p {
  width: 80%;
  line-height: 2;
}

body .main-wrapper .footer {
  padding: 5%;
  background-color: #F7693E;
  color: white;
}

body .main-wrapper .footer h2 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 30px;
}

body .main-wrapper .footer .endnote {
  margin-bottom: 30px;
}

body .main-wrapper .footer .link {
  margin-top: 50px;
}

body .main-wrapper .footer .link a {
  padding: 20px 5%;
  background-color: white;
  color: #F7693E;
  border-radius: 10px;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

body .main-wrapper .footer .link a:hover, body .main-wrapper .footer .link a:focus {
  filter: opacity(0.7);
  text-decoration: none;
  bottom: 5px;
  color: #2E0838;
}

body .main-wrapper .footer .attribution {
  margin-top: 100px;
}
/*# sourceMappingURL=style.css.map */